<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
  <head>
    <!-- Site Title-->
    <title>About Us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Changa+One:400,400i%7CGrand+Hotel%7CLato:300,400,400italic,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//lagondola.dev/admin/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Header-->
      {% include '@layout/main-nav.html.twig' %}
      <!-- Page Content-->
      <main class="page-content">
        <!-- Breadcrumbs & Page title-->
        <section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs">
          <div class="shell shell-fluid">
            <div class="range range-condensed">
              <div class="cell-xs-12 cell-xl-preffix-1 cell-xl-11">
                <p class="h3 text-white">About Us</p>
                <ul class="breadcrumbs-custom offset-top-10">
                  <li><a href="/">Home</a></li>
                  <li class="active">About Us</li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <div class="row section-sm-top-90">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <h3>About LaGondola</h3>
            <p>Experience all of the tantalizing smells and tastes of Italy at LaGondola Spaghetti House, where you’ll be
              treated to mouthwatering Italian cuisine, including homemade pasta and torpedo sandwiches piled high with all
              the toppings. In the tradition of true Italian dining, you’re plate will be loaded up with generous portions
              of freshly prepared pasta, smothered in our family’s special meat sauce. Whether you visit us for a family
              dinner or you’re interested in our catering service, LaGondola Spaghetti House will prepare you a feast you’ll never forget.</p>
            <p>Ask Us About Catering Your Next Party</p>
            <br><br>
            <hr width="100%">
          </div>
          <div class="col-md-2">

          </div>
        </div>

        <section class="section-50 section-sm-top-90 section-sm-bottom-100">
          <div class="shell">
            <h4 class="font-default">Our Morning</h4>
            <div class="range range-xs-center">
              <div class="cell-md-10">
                <div class="timeline text-center">
                  <div class="timeline-date"><span class="h5">7:00 AM - Bread baking timeline</span></div>
                  <div class="range range-sm-reverse range-sm-middle timeline-item timeline-item-reverse">
                    <div class="cell-sm-6"><img src="images/wholesome_bread.jpg" alt="" width="420" height="259" class="img-responsive"/>
                    </div>
                    <div class="cell-sm-6">
                      <h5>Old World Wholesome</h5>
                      <p class="body-text">Our bread starts out with simple and wholesome ingredients that is freshly baked every morning! Simple ingredients, small batch, baked in house.</p>
                    </div>
                  </div>
                  <div class="timeline-date"><span class="h5">9:00 AM</span></div>
                  <div class="range range-sm-middle timeline-item">
                    <div class="cell-sm-6"><img src="images/wholesome_ingredients.jpg" alt="" width="420" height="259" class="img-responsive"/>
                    </div>
                    <div class="cell-sm-6">
                      <h5>Opening</h5>
                      <p class="body-text">Fresh ingredients are sliced every day, ensuring the best tasting sandwich!</p>
                    </div>
                  </div>
                  <div class="timeline-date"><span class="h5">9:00 AM</span></div>
                  <div class="range range-sm-reverse range-sm-middle timeline-item timeline-item-reverse">
                    <div class="cell-sm-6"><img src="images/pasta.jpg" alt="" width="420" height="259" class="img-responsive"/>
                    </div>
                    <div class="cell-sm-6">
                      <h5>Today</h5>
                      <p class="body-text">We are devoted to our customers and to business of our life - quick and secure food delivery. And that’s why today we’re recognized as #1 in the industry.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
      {% include '@layout/footer.html.twig' %}
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>


  {% autoescape false %}
      {{ style }}
  {% endautoescape %}
</html>