body {
    background: #2b2c2f !important;
    color: whitesmoke !important;
}

p {
    color: white;
!important;
}

h3 {
    color: white;
!important;
}

h6 {
    color: white;
!important;
}

q {
    color: white;
!important;
}