<div style="background-color: #433e3d;" class="row offset-top-50 text-center">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <br><br>
        <hr width="100%">
        <p>
            <a href="/" class="rd-navbar-brand brand"><img src="images/LaGaLogoHeader.png" alt="" width="323" height="63"/></a>
            <br><br> Website by <a href="http://caldwellnetworks.com">Brock H. Caldwell</a></p>
            <br>
    </div>
    <div class="col-md-2">
    </div>
</div>